extends layout

block head
  title My Site

block content
  div.container
    div.col-md-12.metric
      h2 Hello #{name}
      button#logout.btn.btn-danger(href='/logout' onClick='document.location.href="/logout"') Logout
      h3 You can manage your metrics here.
      p.block Choose the metric you want to display : 
      select.block#dropdown
      button.block.btn.btn-danger(type="button" class="btn btn-success" id="show-graph") Display
      button.block#metric_add.btn.btn-success Add metric batch    
      form#addMetrics(action='/umetrics', method="post")
        .form-group
          label Your metric batch
          textarea.form-control(cols='40', rows="5")
        button#metric_submit.btn.btn-success.btn-block(type='submit') Add metrics    
        #metrics
      #graph
      

  script
    :coffee-script
      $(document).ready ->
        $.get "/umetrics", [], (data) ->
          content = ""
          for d in data
            $('select').append("<option value='#{d.metricId}'>#{d.metricId}</option>") 

      $('#metric_add').click ->
        $('#addMetrics').toggle()
      
      $('#show-graph').click (e) ->
        e.preventDefault()
        idMet = $('#dropdown').val()
        $.get "/umetrics/"+idMet, [], (data) ->
          content = ""
          test(data)
          $('#metrics').append content
      
  


        
