extends layout

block head
  title My Site

block content
  div.container
    div.col-md-6.col-md-offset-3
      p Hello #{name} , how are you ?!!!
      button.btn.btn-danger(href='/logout' onClick='document.location.href="/logout"') Logout
      button(type="button" class="btn btn-success" id="show-metrics") Bring metrics
      #metrics


  script
    :coffee-script
      $('#show-metrics').click (e) ->
        e.preventDefault()
        $.getJSON "/metrics.json", {}, (data) ->
          content = ""
          for d in data

            content += "timestamp: #{d.timestamp}, value: #{d.value}"
            $('#metrics').append content
