doctype html
html
  head
    script(type="text/javascript" src="js/jquery-3.1.1.min.js")
    script(src='js/bootstrap.min.js')
    script(src='./src/metrics.coffee')
    script(src='./src/user.coffee')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    title My Web Page
    block head
  body
    block content
