.chart
  font-family: Arial, sans-serif
  font-size: 10px

.axis path, .axis line
  fill: none
  stroke: #FFF
  shape-rendering: crispEdges

.bar
    fill: steelblue


body h2
  display: inline-block

#logout
  float:right
  margin-top:1.5em



.metric
  text-align:center
