path {
  stroke: #4682b4;
  stroke-width: 2;
  fill: none;
}
.axis path,
.axis line {
  fill: none;
  stroke: #808080;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
.block {
  display: inline-block;
  margin: 20px;
}
.exist {
  color: #f00;
  font-size: 2em;
  text-align: center;
}
h2.hello {
  display: inline-block;
  text-align: center;
}
.metric h2 {
  padding-left: 1.2em;
}
#logout {
  float: right;
  margin-top: 1.5em;
}
#addMetrics {
  display: none;
}
#graph {
  text-align: center;
}
.metric {
  text-align: center;
}
