.chart
  font-family: Arial, sans-serif
  font-size: 10px

.axis path, .axis line
  fill: none
  stroke: #FFF
  shape-rendering: crispEdges

.bar
    fill: steelblue

.block
  display: inline-block
  margin:20px

body h2
  display: inline-block
  text-align:center

.metric h2
  padding-left:1.2em

#logout
  float:right
  margin-top:1.5em

#addMetrics
  display:none

.metric
  text-align:center
